---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import AboutUsSection from '../components/AboutUsSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
import '/public/styles/global.css'; // Asegúrate de crear este archivo
---

<Layout title="Purpura Development">
  <main class="font-sans bg-tea-rose-red text-purpureus">
    <HeroSection />
    <ServicesSection />
    <PortfolioSection />
    <AboutUsSection />
    <ContactSection />
    <Footer />
  </main>
</Layout>